src/main/resources/xsd/SimpleResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="SimpleResponse">
        <xs:sequence>
            <xs:element name="date" type="xs:date" />
            <xs:element name="time" type="xs:time" />
            <xs:element name="text" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>